[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.delus.site
Exec=/usr/bin/com.delus.site
Name=Delus
Name[ru]=Делус

[X-Application]
Permissions=Audio;Camera;Documents;Downloads;Internet;Location;MediaIndexing;Microphone;Music;NFC;Pictures;PublicDir;PushNotifications;RemovableMedia;ScreenCapture;Videos;WebView
OrganizationName=com.delus
ApplicationName=site

